[Unit]
Description=Remove ufw/haveged if installed
ConditionPathExists=|/usr/sbin/ufw
ConditionPathExists=|/usr/sbin/haveged

[Service]
Type=exec
Environment="DEBIAN_FRONTEND=noninteractive"
ExecStart=/usr/bin/apt-get purge --yes ufw haveged
User=root
